@font-face {
  font-family: "open-sans";
  src: local("open-sans"), url("../fonts/open-sans font/opensans-regular-webfont.woff"),
  format("woff");
}

* {
  font-family: "open-sans", sans-serif;
}

.width__container {
  /*width: 700px;*/
  width: 930px;
  margin: 0 auto;
}

.main__header {
  background-image: url('../images/header.jpg');
  background-position: center;
  /*width: 930px;*/
  height: 500px;
  margin: 0 auto;
}

.main__header__logo {
  background-image: url('../images/logo.png');
  background-position: center;
  width: 138px;
  height: 52px;
  display: inline-block;
}

.main__header__navigation {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
}

.main__header__navigation>ul {
  margin: 0 auto;
  line-height: 54px;
}

.main__header__navigation>ul>li {
  display: inline-block;

}

.main__header__content {
  color: white;
  width: 700px;
}

.main__header__content>h4 {
  font-size: 24px;
}

.main__header__content>h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.main__header__content>a {
  text-decoration: none;
}

.main__header__button {
  background-color: #e92121;
  width: 130px;
  height: 40px;
  text-align: center;
}

.main__header__button>span {
  font-size: 16px;
  color: white;
  line-height: 40px;
}

.main__section {
  height: 500px;
  background-color: white;
}

.main__section__title {
  width: 45%;
  font-size: 48px;
  color: #464646;
  text-transform: uppercase;
  display: inline-block;
}

.main__section__content {
  width: 45%;
  font-size: 16px;
  color: #b7b7b7;
  float: right;
}

.main__footer {
  background-color: black;
  height: 250px;
}

.main__footer .main__header__logo {
  margin-top: 20px;
  margin-bottom: 50px;
}

.main__footer__menu {
  line-height: 30px;
  font-size: 16px;
  color: #474747;
}

.main__footer__menu>div {
  width: 300px;
  display: inline-block;
}
.main__footer__copyright {
  line-height: 5px;
  font-size: 16px;
  color: #353434;
  float: right;
}
